# Environment
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo

# Data & Vector Store
vectorstore/
data/processed/

# Logs
logs/
*.log

# OS
.DS_Store

# Testing
.pytest_cache/
.coverage

# Build
*.egg-info/
dist/
build/
